<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro" version="0.10.1.1" targetFramework="net40" />
  <package id="MahApps.Metro.Resources" version="0.1.0.1" targetFramework="net40" />
  <package id="MahApps.Metro.Resources.Standalone" version="0.1.0.0" targetFramework="net40" />
  <package id="sqlite-net" version="1.0.7" targetFramework="net40" />
  <package id="taglib" version="2.1.0.0" targetFramework="net40" />
  <package id="Xceed.Products.Wpf.DataGrid.Base" version="5.4.14473.13530" targetFramework="net40" />
  <package id="Xceed.Wpf.Controls" version="5.4.14473.13530" targetFramework="net40" />
  <package id="Xceed.Wpf.DataGrid" version="5.4.14473.13530" targetFramework="net40" />
</packages>